# Language
## Python
__pycache__
.venv
.pytest_cache

# IDE
## VSCode
.vscode
# - Jupyter
.ipynb_checkpoints

## Vim
*~*

# Dev
# /__dev
/docs/results_debug
*playground*

# Misc
*.tmp
*untitled*
deprecated